<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Room List View || Hotel ATR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico">

    <!-- All css here -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/shortcode/shortcodes.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    <script src="/Scripts/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

    <!-- Header Area Start -->
    <header class="header-area fixed header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                    <div class="logo">
                        <a href="@Url.Action("Index","Home")"><img src="~/Content/img/logo/logo.png" alt="HotelATR"></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-8 col-sm-8 hidden-xs">
                    <div class="header-top fix">
                        <div class="header-contact">
                            <span class="text-theme">Contact:</span>
                            <span>0088-234-675-827</span>
                        </div>
                        <div class="header-links">
                            <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="https://twitter.com/"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="https://plus.google.com/"><i class="zmdi zmdi-google-plus"></i></a>
                            <a href="https://www.instagram.com/"><i class="zmdi zmdi-instagram"></i></a>
                            <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                        </div>
                    </div>
                    <!-- Mainmenu Start -->
                    @Html.Partial("_MainMenuPartial")
                    <!-- Mainmenu End -->
                </div>
            </div>
        </div>
        <!-- Mobile Menu Area start -->
        @*@Html.Partial("_MobileMenuPartial")*@
        <!-- Mobile Menu Area end -->
    </header>
    <!-- Header Area End -->
    @RenderBody()
    <!-- Footer Area Start -->
    <footer class="footer-area">
        <!-- Footer Widget Start -->
       @Html.Partial("_FooterAreaPartial")
        <!-- Footer Widget End -->
        <!-- Footer Bottom Area Start -->
        <div class="footer-bottom-area bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-text text-center">
                            <span>Copyright &copy; @DateTime.Now.Year<a href="#">Hastech</a> All Right Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area End -->
    </footer>
    <!-- Footer Area End -->
    <!-- All js here -->
    <script src="/Scripts/vendor/jquery-1.12.4.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/owl.carousel.min.js"></script>
    <script src="/Scripts/ajax-mail.js"></script>
    <script src="/Scripts/jquery.ajaxchimp.min.js"></script>
    <script src="/Scripts/jquery.meanmenu.js"></script>
    <script src="/Scripts/jquery.counterup.min.js"></script>
    <script src="/Scripts/waypoints.min.js"></script>
    <script src="/Scripts/isotope.pkgd.min.js"></script>
    <script src="/Scripts/imagesloaded.pkgd.min.js"></script>
    <script src="/Scripts/jquery.magnific-popup.js"></script>
    <script src="/Scripts/plugins.js"></script>
    <script src="/Scripts/main.js"></script>
</body>
</html>