@using HotelAtr.DAL.Model
@model IEnumerable<Service>
<section class="services-area ptb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h3>our awesome services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <!-- Nav tabs -->
                <ul role="tablist" class="nav nav-tabs">
                    @foreach (Service service in Model)
                    {
                        <li role="presentation">
                            <a data-toggle="tab" role="tab" aria-controls="@service.ServiceId" href="#tab_@service.ServiceId" aria-expanded="true">
                                <span class="image p-img"><img src="@service.ServiceIconPath" alt=""></span>
                                <span class="image s-img"><img src="@service.ServiceIconPath.Replace(".png","-hover.png")" alt=""></span>
                                <span class="title">@service.ServiceName</span>
                                <span class="text">@service.ServiceDescription</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-7">
                <div class="tab-content">
                    @foreach (Service service in Model)
                    {
                        <div id="tab_@service.ServiceId" class="tab-pane" role="tabpanel">
                            <img src="~@service.ServiceImagePath" alt="">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
