@using HotelAtr.DAL.Model
@model IEnumerable<RoomType>

@{
    ViewBag.Title = "Index";
}

<h2>Типы комнат</h2>

<p>
    @Html.ActionLink("Создать новый тип комнаты", "Create",null,htmlAttributes:new{@class="btn btn-primary"})
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (RoomType item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RoomTypeId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id = item.RoomTypeId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.RoomTypeId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
