@using HotelAtr.DAL.Model
@model List<Room>
@{
    ViewBag.Title = "Index";
    string message = ViewBag.Message;
}

<h2>Список комнат</h2>
@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info alert-dismissable fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span>@message</span>
    </div>
}
@using (Html.BeginForm("AddRoom", "Room"))
{
    <button class="btn btn-primary" type="submit">Добавить</button>
}
<br />
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Номер комнаты</th>
            <th>Тип комнаты</th>
            <th>Площадь</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Room room in Model)
        {
            <tr>
                <td>
                    <span class="badge">
                        @room.RoomId
                    </span>
                </td>
                <td>@room.RoomType.Name</td>
                <td>@room.Square</td>
                <td class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2">
                        @Html.ActionLink("Изменить", "Edit", "Room", new { roomId = room.RoomId }, new { @class = "btn btn-primary" })
                    </div>
                    <div class="btn-group mr-2">
                        @Html.ActionLink("Посмотреть детали", "Details", "Room", new { roomId = room.RoomId }, new { @class = "btn btn-info" })
                    </div>
                    <div class="btn-group">
                        @Html.ActionLink("Удалить", "DeleteRoom", "Room", new { roomId = room.RoomId }, new { @class = "btn btn-danger" })
                    </div>
                </td>


            </tr>
        }
    </tbody>
</table>
