
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Список комнат", "Index", "Room")</li>
        <li>@Html.ActionLink("Contact", "AnnualReport", "Home")</li>
        <li>@Html.ActionLink("Тип комнат", "Index", "RoomTypes")</li>
        <li>@Html.ActionLink("Слайдэр", "Index", "SliderAreas")</li>
    </ul>
</div>
